.idea/
**/.idea/**

**/*.zip

**/out/**
/p3/cliente/build/
/p3/cliente/nbproject/private/
/p3/servidor/build/
/p3/servidor/nbproject/private/
/ejercicio2/cliente/nbproject/private/
/ejercicio2/servidor/nbproject/private/
/ejercicio2/servidor/build/
/p4/cliente/nbproject/private/
/p4/servidor/nbproject/private/
/p4/servidorReplica1/nbproject/private/
/p4/servidorPrincipal/nbproject/private/
/p4/servidorReplica1/build/
/p4/cliente/build/
/p4/servidorPrincipal/build/
/ejercicio3/JavaApplication13/nbproject/private/
/ejercicio3/servidor/nbproject/private/
/ejercicio3/cliente/nbproject/private/

/**/material/
